Mslawin-notes-app/build
Mslawin-notes-app/.idea/
Mslawin-notes-app/*.iml
Mslawin-notes-app/app/*.iml
Mslawin-notes-Server/*.iml
Mslawin-notes-Server/transport/*.iml
Mslawin-notes-Server/.idea/
Mslawin-notes-Server/target/
Mslawin-notes-Server/transport/target/
